.main-select-container {
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-select--label {
  font-size: 1.4rem;
  display: block;
  margin-bottom: 5px;
}

.main-select {
  background: none;
  border: 1px solid rgb(56, 56, 56);
  font-size: 1.2rem;
  display: block;
  padding: 4px 3px;
  border-radius: 5px;
}

.main-select:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.main-select option {
  background: none;
}

@media (min-width: 480px) {
  .main-select {
    padding: 6px 10px;
  }
}

@media (min-width: 600px) {
  .main-select--label {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .main-select {
    font-size: 1.4rem;
    padding: 6px 12px;
  }
}

@media (min-width: 1000px) {
  .main-select--label {
    font-size: 1.8rem;
  }

  .main-select {
    font-size: 1.6rem;
    padding: 7px 14px;
  }
}
